/* base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: hsl(150, 100%, 66%);
}
body {
  background-color: hsl(218, 23%, 16%);
  font-family: 'Manrope', sans-serif;
  color: hsl(193, 38%, 86%);
}
p {
  font-weight: 800;
  padding-bottom: 1rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 95vh;
}
.id {
  display: block;
  padding-bottom: 1rem;
  color: hsl(150, 100%, 66%);
  font-size: 0.7rem;
}
footer {
  text-align: center;
}

.container {
  position: relative;
  font-size: 1.3em;
  background-color: hsl(217, 19%, 24%);
  margin: 1em;
  padding: 2rem 2rem 5rem 2rem;
  text-align: center;
  border-radius: 0.5em;
  background-image: url('images/pattern-divider-mobile.svg');
  background-repeat: no-repeat;
  background-position: bottom 25% center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  border: none;
  padding: 1em;
  background-color: hsl(150, 100%, 66%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -9%;
  cursor: pointer;
}
.icon:hover {
  box-shadow: 0px 1px 50px -1px hsl(150, 100%, 66%);
}
@media screen and (min-width: 640px) {
  .container {
    width: 30rem;
    background-image: url('images/pattern-divider-desktop.svg');
  }
}
